In [ ]:
# Formato de cadenas: str.format()

In [9]:
nombre = "Ana"
edad = 26
print("Hola me llamo {} y tengo {} años".format(nombre,edad))

Hola me llamo Ana y tengo 26 años

In [14]:
print("Hola de llamo {0} y tengo {1} años.".format(nombre, edad))

Hola de llamo Ana y tengo 26 años.

In [18]:
print("Hola de llamo {nombre} y tengo {edad} años.".format(nombre="Ana", edad=26))

Hola de llamo Ana y tengo 26 años.

---

In [43]:
# Conjuntos

In [35]:
conjunto = {1,2,3,4}
conjunto

{1, 2, 3, 4}

In [3]:
conjunto2 = {True,1,0,False}  # True/1 y False/0 se considera el mismo valor
conjunto2

{0, True}

In [41]:
lista = [1,2,2,3,1,2,4,5,4,6,6,7,1]
conjunto = set(lista) # un set es una colección de datos desordenados, inmutables y no indexada. 
conjunto

{1, 2, 3, 4, 5, 6}

---

In [46]:
# Compresiones de lista - Crear una lista a partir de otra

In [62]:
lista1 = [1,2,3,4,5]
lista2 = []
for numero in lista1:
    lista2.append(numero * 2)  
lista2

[2, 4, 6, 8, 10]

In [64]:
lista3 = [numero * 2 for numero in lista1]
lista3

[2, 4, 6, 8, 10]

---

In [67]:
# Funciones

In [76]:
def funcion():
    print("Hola, buenos días")

In [78]:
funcion()

Hola, buenos días

In [86]:
def saludar(nombre):
    print("Hola, buenos días " + nombre)

In [88]:
saludar("Ana")

Hola, buenos días Ana

In [98]:
def sumar(numero1, numero2):
    """
    Esta funcion suma los dos numeros pasados como parametros
    Ejemplo: sumar(2,3)
    """
    return numero1 + numero2

In [100]:
sumar(2,3) # shift + tab: muestra información sobre la función

5

---

In [116]:
# Función map() - Aplicar una función sobre todos los elementos de un objeto

In [128]:
def multiplicar(numero):
    return numero * 3

In [130]:
multiplicar(5)

15

In [132]:
lista = [1,2,3,4,5]
lista2 = list(map(multiplicar, lista))
lista2

[3, 6, 9, 12, 15]

---

In [157]:
# Funciones lambda o anónimas
# sintaxis: lambda argumentos: expresión
# pueden tener cualquier número de argumentos, pero solo una expresión.

In [159]:
def multiplicar(numero):
    return numero * 2

In [149]:
multiplicar(5)

10

In [153]:
lista1 = [1,2,3,4]
lista2 = list(map(multiplicar,lista1))
lista2

[2, 4, 6, 8]

In [155]:
lista1 = [1,2,3,4]
lista3 = list(map(lambda numero: numero * 2, lista1))
lista3

[2, 4, 6, 8]

---

In [ ]:
# Filtros - Seleccionar o filtrar elementos de un objeto

In [10]:
def pares(numero):
    if (numero % 2 == 0):
        return numero

In [12]:
pares(5)

In [14]:
pares(4)

4

In [21]:
lista1 = [1,2,3,4,5,6,7]
lista_pares = list(filter(pares,lista1))
lista_pares

[2, 4, 6]

In [25]:
lista1 = [1,2,3,4,5,6,7]
lista_pares = list(filter(lambda numero: numero%2 == 0,lista1))
lista_pares

[2, 4, 6]